/* COLORS */
$darkyellow : #fec56d;
$yellow : #ffe2b6;
$white : #ffffff;

$nightrider : #000000 ;
$traveller : #f4d0ac ;
$weirdo : #b0deed;
$hipster : #f69cc0 ;
$swagger : #abe6f4;
$vintage : #f8d5b9 ;
$grandpa : #a0e3fe;
$tandem : #f8ca7d;
$baby : #fbdff8;
$cougar : #c6deff;
$freestyler : #91fad2;
$gangsta : #f8c075;
$lilgansta : #ffd4ab;
$runner : #b2f9d7 ;
$rigid : #dbdbdb;
$warrior : #fdddae;
$lazy : #fb9d79;
$fake : #f5978f ;


/* MIXINS */
@mixin background($image, $repeat, $position, $size) {
	background: {
        image: url('../img/' + $image + '.jpg');
        repeat: $repeat;
        position: $position;
        size: $size;
    }
}

@mixin bike($color)
{
	background-color: $color;
	top:0px;
	padding: 10px 0px;
}

@mixin wrapper() {
	height: 100%;
	width: 100%;
	position: relative;
}

@mixin backgroundattachment($attachment) {
	background-attachment: $attachment;
}

@mixin bikebackground($bike) {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/bike-' + $bike + '.png') no-repeat;
	background-size: 90%;
	background-position: center bottom;
}

@mixin backgroundsize( $size ) {
	background-size: $size;
}

* {
	margin: 0;
	padding: 0;
	
}

.down {
	position: fixed;
	bottom: 30px;
	z-index: 5;
	width: 30px;
	left:50%;
	margin-left: -15px;
	opacity: .5;

	&:hover {
		opacity: 1;
	}
}

.menu-title {
	position: relative;
	text-align: center;
	font-size: 25px;
	font-family: intro;
	padding: 5px 0px;
	z-index: 4;
	width: 100%;
	color: $darkyellow;
	background-color: $yellow;
}

.navigation {
		position: relative;
		z-index: 4;
		font-family: intro;
		width: 100%;
		color: $darkyellow;
		margin-top: -158px;

		ul {
			position: relative;
			left: 0px;
			width: 100%;
			background-color: white;

			li { 
				margin: 10px;
				margin-left: -200px;
				color: $darkyellow;
				padding: 10px;
				border-bottom: 1px $yellow solid;

				&:hover {
					color: $white;
				}
			}

			.last {
				border-bottom: none;
			}
		}
	}

.big-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;

	/*width: 80%;
	float: right;
	right: 0px;*/

	.full {
		position: relative;
		height: 100%;
		min-height: 100%;
		width: 100%;
	}

	.intro {
		top:0;
		background-color: $darkyellow;
		font-family: intro;
		@include background('header', no-repeat, center, 90%);
	}

	.nightrider {

		@include bike($nightrider);

		

		.wrapper {
			@include wrapper();
			
			@include background('nightrider', no-repeat, center, cover);

			@include backgroundattachment(scroll);

			.bike-nightrider {
				@include bikebackground('nightrider');
				@include backgroundattachment(scroll);
			}
		}
	}

	
	.traveller {
		@include bike($traveller);
		
		
		.wrapper {
		
			@include wrapper();

			@include background('traveller', no-repeat, center, cover);
			@include backgroundattachment(scroll);

			.bike-traveller {
				@include bikebackground('traveller');
				@include backgroundattachment(scroll);
			}

		}
	}

	

	.weirdo {
		@include bike($weirdo);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('weirdo', no-repeat, center, cover);
			@include backgroundattachment(scroll);
		
			.bike-weirdo {
				@include bikebackground('weirdo');
				@include backgroundattachment(scroll);
			}
		}
	}

	.hipster {
		@include bike($hipster);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('hipster', no-repeat, center, cover);

			.bike-hipster {
				@include bikebackground('hipster');
			}
		}
	}

	.swagger {
		@include bike($swagger);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('swagger', no-repeat, center, cover);

			.bike-swagger {
				@include bikebackground('swagger');
			}
		}
	}

	.vintage {
		@include bike($vintage);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('vintage', no-repeat, center, cover);

			.bike-vintage {
				@include bikebackground('vintage');
			}
		}
	}

	.grandpa {
		@include bike($grandpa);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('grandpa', no-repeat, center, cover);

			.bike-grandpa {
				@include bikebackground('grandpa');
			}
		}
	}

	.tandem {
		@include bike($tandem);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('tandem', no-repeat, center, cover);

			.bike-tandem {
				@include bikebackground('tandem');
			}
		}
	}

	.baby {
		@include bike($baby);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('baby', no-repeat, center, cover);

			.bike-baby {
				@include bikebackground('baby');
			}
		}
	}

	.cougar {
		@include bike($cougar);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('cougar', no-repeat, center, cover);

			.bike-cougar {
				@include bikebackground('cougar');
			}
		}
	}

	.freestyler {
		@include bike($freestyler);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('freestyler', no-repeat, center, cover);

			.bike-freestyler {
				@include bikebackground('freestyler');
			}
		}
	}

	.gangsta {
		@include bike($gangsta);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('gangsta', no-repeat, center, cover);

			.bike-gangsta {
				@include bikebackground('gangsta');
			}
		}
	}

	.lilgangsta {
		@include bike($lilgansta);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('lilgangsta', no-repeat, center, cover);

			.bike-lilgangsta {
				@include bikebackground('lilgangsta');
			}
		}
	}

	.runner {
		@include bike($runner);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('runner', no-repeat, center, cover);

			.bike-runner {
				@include bikebackground('runner');
			}
		}
	}

	.rigid {
		@include bike($rigid);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('rigid', no-repeat, center, cover);

			.bike-rigid {
				@include bikebackground('rigid');
			}
		}
	}

	.warrior {
		@include bike($warrior);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('warrior', no-repeat, center, cover);

			.bike-warrior {
				@include bikebackground('warrior');
			}
		}
	}

	.lazy {
		@include bike($lazy);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('lazy', no-repeat, center, cover);

			.bike-lazy {
				@include bikebackground('lazy');
			}
		}
	}

	.fake {
		@include bike($fake);
		
		

		.wrapper {
		
			@include wrapper();

			@include background('fake', no-repeat, center, cover);

			.bike-fake {
				@include bikebackground('fake');
			}
		}
	}
}

.subnav {

	position: fixed;
	display: none;
	z-index: 4;
	right: 10px;
	top:20%;
	bottom: 20%;

	ul {
		
		list-style-type: none;
		text-align: right;

		li {
			width: 15px;
			height: 15px;
			margin: 5px;
			background-color: rgba(255,255,255, .6);
			border-radius: 3px;

			span {
				position: relative;
				margin-left: -100px;
				left: -30px;
				display: none;
				color: $white;
				font-family: intro;
				font-size: 15px;
			}
			
			&:hover {
				background-color: rgba(255,255,255, 1);

				span {
					display: block;
					text-align: right;
				}
			}
		}

		.selected {
			background-color: rgba(255,255,255, 1);
		}
	}
}

