/*@media only screen and (min-width : 640px) and (min-device-width : 768px)  { */

@media only screen and (min-width : 640px)  { 
	.big-wrapper {
		
		.vintage {

			

			.wrapper {
				
				.bike-vintage {
					
					@include backgroundsize(75%);
				}
			}
		}

	}
}

@media only screen and (min-width : 768px) and (max-width: 1023px) { 
	.big-wrapper {
		
		.nightrider {
			.wrapper {

			.bike-nightrider {
				
				@include backgroundsize(50%);
			}
		}
		}

		.traveller {
			.wrapper {

			.bike-traveller {
					
				@include backgroundsize(70%);
			}
		}
		}
	
		.weirdo {
			.wrapper {

			.bike-weirdo {
				
				@include backgroundsize(70%);
			}
		}
		}
	
		.hipster {
			.wrapper {

			.bike-hipster {
				
				@include backgroundsize(70%);
			}
		}
		}
	
		.swagger {
			.wrapper {

			.bike-swagger {		
				@include backgroundsize(70%);
			}
		}
		}
	
		.vintage {
			.wrapper {
			.bike-vintage {
				@include backgroundsize(70%);
			}
		}
		}

		.grandpa {
			.wrapper {

			.bike-grandpa {		
				@include backgroundsize(70%);
			}	
		}
		}

		.tandem {
			.wrapper {

			.bike-tandem {
				@include backgroundsize(70%);
			}
		}
		}

		.baby {
			.wrapper {

			.bike-baby {	
				@include backgroundsize(70%);
			}
		}
		}

		.cougar {
.wrapper {

			
				.bike-cougar {
					
					@include backgroundsize(70%);
				}
			}
		}

		.freestyler {

			.wrapper {

				.bike-freestyler {
					
					@include backgroundsize(70%);
				}
			}
		}

		.gangsta {

			.wrapper {

				.bike-gangsta {
					
					@include backgroundsize(70%);
				}
			}
		}

		.lilgangsta {
.wrapper {

			
				.bike-lilgangsta {
					
					@include backgroundsize(70%);
				}
		
		}
	}

		.runner {
.wrapper {

			
				.bike-runner {
					
					@include backgroundsize(70%);
				}
			}
		}

		.rigid {

			.wrapper {

				.bike-rigid {
					
					@include backgroundsize(70%);

			}
		}
		}

		.warrior {

				.wrapper {
	
				.bike-warrior {
					
					@include backgroundsize(70%);
				}
			}

		}

		.lazy {

			.wrapper {

				.bike-lazy {
					
					@include backgroundsize(70%);
				}
			}	
		}

		.fake {
.wrapper {

			

				.bike-fake {
					
					@include backgroundsize(70%);
				}
			}

		}
	}
}


@media only screen and (min-width:  800px) {

	.menu-title {
		display:none;
	}
	
	.subnav {
		display: block;
	}
	
	.navigation {
		position: fixed;
		color: $white;
		margin-top: 20px;
		margin-left: 20px;

		ul {
			background: none;

			li { 
				display: inline;
				margin: 10px;
				margin-left: 0px;
				color: $yellow;
				padding: 10px;
				border: none;


				&:hover {
					color: $white;
				}
			}

			.last {
				border-bottom: none;
			}
		}
	}

	.big-wrapper {
		
		
		.vintage {
			.wrapper {
			.bike-vintage {
				@include backgroundsize(60%);
			}
		}
		}
	}
}

@media only screen and (min-width : 1024px)  { 
	
	

	

	


	.big-wrapper {
		
		.intro {
			@include backgroundsize(65%);
		}

		.nightrider {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-nightrider {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.traveller {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-traveller {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}
	
		.weirdo {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-weirdo {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}
	
		.hipster {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-hipster {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}
	
		.swagger {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-swagger {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}
	
		.vintage {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-vintage {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.grandpa {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-grandpa {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.tandem {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-tandem {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.baby {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-baby {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.cougar {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-cougar {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.freestyler {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-freestyler {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.gangsta {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-gangsta {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.lilgangsta {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-lilgangsta {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.runner {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-runner {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.rigid {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-rigid {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.warrior {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);		
				.bike-warrior {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.lazy {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);
				.bike-lazy {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}

		.fake {

			padding: 0px;

			.wrapper {
				@include backgroundattachment(fixed);
				@include backgroundsize(contain);

				.bike-fake {
					@include backgroundattachment(fixed);
					@include backgroundsize(50%);
				}
			}
		}
	}


	
}